* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  background-image: url('Фон/ТестовыйФон.png');
  transition: all .3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.scores-header{
  display: flex;
  position: absolute;
  width: 170px;
  margin: 30px 10px;
  font-size: 20px;
  text-align: right;
  vertical-align: text-top;
  
  color: #ffffff;
}

.scores-header .scores-amount{
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
}

.achievements{
  display: block;
}

.achievements-header1, .achievements-header2{
  /*font-size: 60px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #6b85fd;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #4355ff,
               1px 2px 0px #4355ff,
               1px 3px 0px #4355ff,
               1px 4px 0px #4355ff,
               1px 5px 0px #4355ff,
               1px 6px 0px #4355ff,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
 text-align: center;*/

  position: -webkit-sticky;
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(to top, #ffffff, #0051ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    1px 1px 0 #99caff,
    2px 2px 0 #339aff,
    3px 3px 0 #0077ff,
    4px 4px 0 #0051ff,
    5px 5px 15px rgba(0, 81, 255, 0.8);
  text-align: center;
}

.achievements-border{
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 30px 30px;
}

img {
  display: inline-block;
  border-radius: 10%;
  margin: 5px;
  width: 110px;
  height: 110px;
  position: relative;
  background-color: rgba(5, 16, 48);
  background-size: cover;
  
}

.progress{
  display: block;
}

.progress .help-tip {
  display: flex;
  font-size: 20px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: calc(100% - 80vw);
  top: 30vh;
  width: 600px;
  height: 205px;
  visibility: hidden;
  border: #d8d0d0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  border-radius: 15px;
  
}

.progress .help-tip-text {
  display: block;
  color: #3b3b3b;
  box-shadow: none;
}

.progress .help-tip-text .help-tip-header {
  font-size: 30px;
  font-weight: 600;
  color: #1d3ceb;
  margin: 10px 0 20px 0;
}

.progress .help-tip img {
  height: 180px;
  width: 180px;
  background-color: rgba(4, 94, 243);
  
  box-shadow: none;
  vertical-align: middle;
  border-radius: 10px;
  border-color: #01d4ff;
  border-style: solid;
  border-width: 5px;
  
}

.progress:hover .help-tip {
  visibility: visible;
  opacity: 1;
  
  border-style: solid;
  z-index: 1000;
}

.progress .name-achieve{
  color: #ffffff;
  text-align: center;
}

.progress-circle {
  --color: rgba(0, 207, 251, 0.9);
  --color-2: rgba(0, 64, 102, 0.9);
  --circle-size: 120px;
  --border-width: 10px;

  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 10%;
  margin: .5em;
  background-image: conic-gradient(var(--color) var(--progress), var(--color-2) 0);
  
  position: relative;
}

.progress-circle::after {
  --inner-circle-size: calc(var(--circle-size) - var(--border-width));
  --inner-circle-gap: calc(var(--border-width) / 2);

  content: '';
  width: var(--inner-circle-size);
  height: var(--inner-circle-size);
  
  border-radius: 10%;
  position: absolute;
  left: var(--inner-circle-gap);
  top: var(--inner-circle-gap);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
}

.progress-circle .count{
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 207, 251, 1);
  line-height: 27px;
  width: 25%;
  color: rgb(51, 43, 43);
  height: 25%;
  border-radius: 50%;
  font-size: 1.2em;
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  position: absolute;
  right: 0;
}

.progress-bar {
  
  background: linear-gradient(0deg, rgb(94, 94, 94) 0%, rgb(233, 211, 211) 50%);
  height: 10px;
  
  width: 200px;
  margin: .5em;
  border-radius: 10px;
  
}